
  <div className='header-container'>
  
    <div className="top-bar">
      <div className="app-info">
        <span className="app-name">Artisbay</span>
      </div>
      <div className="extra-info">
        <span className="time">Japan Standard Time: {japanTime}</span>
        <span className="exchange-rate">USD/JPY: $1 = ¥{usdToYenRate}</span>
      </div>
    </div>
  
    <header className="header">
      <div className="logo">
        <h1><Link to="/" onClick={() => setIsMenuOpen(false)}>Artisbay</Link></h1>
      </div>
      <nav className={`navbar ${isMenuOpen ? 'open' : ''}`}>
        <Link to="/" onClick={() => setIsMenuOpen(false)}>Home</Link>
        <Link to="/about" onClick={() => setIsMenuOpen(false)}>About</Link>
        <Link to="/contact" onClick={() => setIsMenuOpen(false)}>Contact</Link>
        <Link to="/howtobuy" onClick={() => setIsMenuOpen(false)}>How To Buy</Link>
      </nav>
      <button className="hamburger" onClick={toggleMenu}>
        ☰
      </button>
    </header>
    