/* Force desktop styles for smaller screens */
/* Force desktop styles for smaller screens */

body {
  overflow-x:hidden ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container, .used-tires-page{

  max-width: 100%;
}

.help-page {

}
  
.footer {

}


.container  {

 min-height: 100vh;
}

    
@media screen and (max-width: 9999px) {
    .layout, .usedTiresForm-container, .car-details, .help-page , .footer-inner {
        margin: 0 auto;
        width: 90%; /* Use percentage */
        max-width: 1590px; /* Set a max-width */
    }
    .header-bottom, .header-top, .local-services-banner {
        margin: 0 auto;
        width: 90%; /* Use percentage */
        max-width: 1560px; /* Set a max-width */
    }
}

@media screen and (max-width: 1760px) {
    .layout, .usedTiresForm-container, .car-details, .help-page , .footer-inner  {
        margin: 0 auto;
        width: 90%; /* Use percentage */
        max-width: 1438px; /* Set a max-width */
    }
    .header-top, .header-bottom {
        width: 90%; /* Use percentage */
        max-width: 1460px; /* Set a max-width */
    }
}

@media screen and (max-width: 1530px) {
    .layout, .header-top, .local-services-banner, .usedTiresForm-container, .car-details, .help-page, .footer-inner  {
        margin: 0 auto;
        width: 90%; /* Use percentage */
        max-width: 1330px; /* Set a max-width */
    }
    .header-bottom {
        width: 90%; /* Use percentage */
        max-width: 1330px; /* Set a max-width */
    }
}

@media screen and (max-width: 1500px) {
  .layout, .header-top, .local-services-banner, .usedTiresForm-container, .car-details, .help-page, .footer-inner  {
      margin: 0 auto;
      width: 100%; /* Use percentage */
  }
  .header-bottom {
      width: 90%; /* Use percentage */
      max-width: 1330px; /* Set a max-width */
  }
}