.bank-information {
  padding: 25px;
  margin: 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.bank-info-container {
  display: flex; /* Use flexbox for item layout */
  flex-direction: column; /* Stack items vertically */
  gap: 15px; /* Space between items */
}

.bank-info-item {
  display: flex; /* Use flexbox for item layout */
  justify-content: space-between; /* Space between header and paragraph */
  align-items: center; /* Center items vertically */
  padding: 10px;
  border: 1px solid #ecf0f1; /* Add a border for separation */
  border-radius: 5px; /* Rounded corners */
}

.bank-info-item h2 {
  margin: 0; /* Remove margin for header */
  color: #34495e;
  padding-right: 5px; /* Add a small right padding for space */
}

.bank-info-item p {
  margin: 0; /* Remove margin for paragraph */
  color: #2c3e50;
  padding-left: 5px; /* Add a small left padding for space */
}