
body {
  overflow-x: hidden;
}
.contact-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 60%;
  margin: 20px auto;
  max-width: 900px;
}
.contact-container h1 {
  font-size: 36px;
  color: #1da1f2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.contact-container p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
.contact-container form {
  margin-top: 20px;
}
.contact-container input, .contact-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-container textarea {
  resize: none;
}
.contact-container button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.contact-container button:hover {
  background-color: #0056b3;
}
.contact-container .contact-image-container {
  position: absolute;
  right: -300px;
  bottom: 0;
}
.contact-container .contact-image-container  img {
  max-height: 500px;
}