.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 1200px;
  }
  
  .footer p {
    margin: 0;
  }
  