.help-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the help page takes at least the full height of the viewport */
  }

  .hidden {
    display: none;
  }
  
  .hero-section {
    background-size: cover;
    color: white;
    padding: 40px;
    text-align: center;
  }

  .help-lp {
    background-image: url('../../public/images/custumersupportcopy.JPEG');
    background-size: cover;
  }

  .help-lp h1 {
    color: #1da1f2;
    justify-self: center;
    text-align: center;
    text-shadow: 1px 1px 2px #fff; /* Added text shadow */

  }
  
  .help-main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
  }
  
  .topic-image {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
    max-height: 400px; /* Sets a maximum height for the image */
    margin-bottom: 20px; /* Adds space below the image */
    object-fit: cover;
  }
  
  .sidebar {
    width: 50%;
    padding-right: 20px;
    max-width: 217px;
    position: sticky;
    text-align: center;
    
  }
  
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    text-transform: capitalize;
    border: none;
    color: #333;
    font-weight: bold;
    background-color: transparent;
    text-shadow: 1px 1px 2px #ecf0f1; /* Added text shadow */
    background-color: rgba(255, 255, 255, 0.5); /* Light background with transparency */
    font-size: 16px;

  }
  
  .content-area {
    padding: 20px;
    flex: 1;
  }
  
  .content-area h2 {
    margin-top: 0;
  }
  
  /* Style for the active button */
  button.active {
    background-color: #f1892b; /* Or any color you want */
    color: white;
  }

  .btn-header {
    background-color: unset !important;
    text-align: center !important;
    margin: 0 !important;
  }