/* General Styles */
.main-content {
  display: flex;
}

.layout {
    position: relative;
}

option {
    background-color: #fff;
}

.homepage {
    padding: 20px 0px 0px 30px;
    overflow: hidden; /* Prevent overflow issues */
    color: #444; /* Soft dark gray for general text */
    display: flex; /* Use flexbox to align elements */
    flex-direction: column; /* Keep the layout vertical for desktop */
    flex: 1;
}


/* Why Choose Us */
.why-choose-us {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.why-choose-us h2 {
    color: #34495e; /* Deep blue-gray */
    margin-bottom: 20px;
}

.why-choose-us ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.why-choose-us li {
    margin: 15px 0;
    color: #7f8c8d; /* Soft gray */
}

/* Stocklist Section */
.stocklist-section {
    background-color: #f9f9f9;
    text-align: center;
    margin: 20px;
}

.stocklist-section h2 {
    color: #2c3e50;
}

/* Testimonials Section */
.testimonials {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.testimonial {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ecf0f1;
    padding: 20px;
    color: #2c3e50;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    color: #7f8c8d;
}

/* Contact CTA Section */
.contact-cta {
    padding: 50px 0;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.contact-cta p {
    margin-bottom: 30px;
}

.contact-cta .cta-button {
    background-color: #e67e22;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
}

.cta-button a {
    text-decoration: none;
    color: #f5f5f5;
}

.contact-cta .cta-button:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
 
    .why-choose-us h2,
    .stocklist-section h2 {
        font-size: 1.5rem; /* Adjusted heading size */
    }

    .cta-button {
        font-size: 1rem; /* Adjust button font size */
        padding: 10px 20px; /* Adjust button padding */
    }

    /* Testimonials Section */
    .testimonial {
        font-size: 1rem; /* Adjust testimonial font size */
    }

    .contact-cta p {
        font-size: 1.2rem; /* Smaller contact CTA text */
    }
}

.info-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Keep five columns */
    gap: 30px; /* Increased space between cards */
    padding: 30px; /* Padding around the container */
}

.info-card {
    background-color: #ffffff; /* Lighter background for contrast */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Deeper shadow for more depth */
    text-align: center; /* Center align text */
    transition: transform 0.2s ease; /* Smooth scaling effect */
}

.info-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.info-card-image {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}

.info-card-title {
    margin-top: 10px; /* Space between image and text */
    font-size: 1rem; /* Adjust font size for better readability */
    font-weight: 600; /* Bold text for emphasis */
    color: #2c3e50; /* Darker text color */
}



.car-dismantling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #f4f6f8;
    border-top: 1px solid #ddd;
  }
  
  .dismantling-content {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    margin: 10px 0;
  }
  
  .dismantling-content h2 {
    color: #1e3a8a;
    font-size: 24px;
  }
  
  .dismantling-content p {
    color: #333;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .learn-more-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #e67e22;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .learn-more-btn:hover {
    background-color: #d35400;
  }
  
  .dismantling-image img {
    max-width: 100%;
    height: auto;
  }

  .video-slider-section {
    width: 100%;
  }
  
  .video-slide video {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px 7px;

  }
  
  .banner-video, .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video/image covers the entire container */
  }
  
.label-cell {
  width: 50px;
}

.info-card-link {
    text-decoration: none;
    color: inherit; /* Inherit text color */
  }
  
  .info-card:hover,  .step-card:hover   {
    border: solid .5px #f1892b;
    color: #f1892b; /* Highlighted title color */
  }

.info-card:hover .info-card-title {
    color: #f1892b; /* Highlighted title color when info-card is hovered */
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    bottom: 4px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
}

 .slick-prev {
    left: 0 !important;
 }

 .slick-next {
    right: 0 !important;
 }
.slick-prev, .slick-next {
    z-index: 5;
   
}

.main-container {
    display: flex; /* Aligns the containers side by side */
    justify-content: space-between; /* Ensures equal spacing between them */
    width: 100%; /* Ensures the container takes the full width */
    max-width: 1200px; /* Optional: Set a max width for the parent container */
    margin: 10px auto; /* Center the container */
    gap: 10px;
    flex-direction: column;
}

.type-container, .make-container {
    flex: 1; /* Allows both containers to take equal space */
    padding: 20px; /* Adds padding inside the containers */
    border: 1px solid #ddd; /* Border for both containers */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}


.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensures 4 items per row */
    gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.grid-item img {
    width: 50px;
    margin-bottom: 5px;
}

.grid-item span {
    font-size: 14px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 10px;
}

.brand {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px; /* Reduced padding for smaller size */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 30px; /* Reduced font size for brand text */
    cursor: pointer;
}

.brand img {
    max-width: 40px; /* Reduced size of brand logos */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Reduced margin */
}

.brand p {
    margin: 0;
    font-size: 12px; /* Reduced font size for brand text */
    text-transform: uppercase;
}


.ad-header-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically centered */
    padding: 25px; /* Padding around the header container */
    position: relative;
}

.ad-banner {
    height: 350px; /* Set height for the banner */
    flex: 1; /* Allow the banner to take available space */
    width: 100%;
    
}

.small-image-container {
    margin-left: 20px; /* Space between the banner and small image */
    position: relative;
}

.small-image {
    width: 250px; /* Set width for the small image */
    height: auto; /* Maintain aspect ratio */

}

.text-content {
    padding: 20px; /* Padding around the text content */
}

.icon-container {
    position: absolute; /* Position absolute to overlay the small image */
    top: 50%; /* Center vertically */
    right: 5%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the center */
    text-align: center; /* Center text */
    z-index: 5;
}

.small-icon {
    font-size: 108px; /* Size of the hand pointer icon */
    color: #e67e22;
}

.small-icon , .click-text {
    text-shadow: 1px 1px 1px #fff;
}

.click-text {
    display: block; /* Make the text a block element */
    margin-top: 5px; /* Space between icon and text */
    font-size: 28px; /* Font size for the text */
    color: #e67e22; /* Text color */
    text-transform: uppercase;
}


.overlay {
    position: absolute; /* Position absolute to overlay the small image */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the image */
}

.image-slider-section {
    height:300px;
    overflow:hidden;
}

.slick-slide img {
    max-height: 300px;
}

.ad-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ad-container {
    padding: 20px;
}

.bold-text {
    font-weight: bold; /* Makes the text bold */
    font-size: 1.5em; /* Increases the font size */
    text-align: center; /* Centers the text */
    margin: 10px 0; /* Adds some space above and below the text */

}

.bordered {
    border: 2px solid #f1892b; /* Adds a border with a bright, eye-catching orange color */
    padding: 15px; /* Adds space inside the border */
    margin-bottom: 20px; /* Adds space between each container */
    border-radius: 10px; /* Rounds the corners of the border */
  }
  