/* Banner Section */
.banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
  text-align: center;
}
.sub-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
}
.intro-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 40px 0;
}
.intro-content p {
  font-size: 30px;
  color: #333;
  line-height: 1.6;
  padding: 80px 20px;
  border: solid;
  margin: 1px 0;
}
.intro-content img {
  width: 100%;
  height: auto;
  max-width: 450px;
  margin-left: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px 0;
}
.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.nav a i {
  margin-right: 5px;
}
.section-title {
  background-color: #003366;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.namibia-agent-container .services {
  padding: 40px 30px;
  margin: 0;
}
.services h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
.services p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  padding: 0 20px;
}
.contact {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 40px 0;
}
.contact p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}
.contact img {
  width: 100%;
  height: auto;
  max-width:  450px;
  margin-left: 20px;
}

.faq {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.why-choose-agent-section , .section-container , .logistics-banner {
  margin: 40px 0;
}

.contact-text {
  border: solid;
  padding: 30px 45px;

}

@media screen and (min-width:1500px) {
  .intro-content {
    padding: 0 !important;
  }
}

.package-container {
  text-align: left;
  padding: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.chevrons {
  display: inline-block;
  vertical-align: middle;
}
.chevrons img {
  height: 20px;
}
.list {
  margin-top: 10px;
}
.list-item {
  margin-bottom: 10px;
}