.terms-container ,.asf, .whyChooseUs, .dismantling {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    margin: 50px;
    border: 1px solid #ddd;
  }
  
  .terms-container h1, .asf h1, .whyChooseUs h1, .dismantling h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .terms-container h2 , .asf h2 , .whyChooseUs h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .terms-container p, .asf p , .whyChooseUs p ,.dismantling p  {
    margin-bottom: 10px;
  }
  
  .terms-container ul, .asf ul, .whyChooseUs ul{
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .terms-container ul li, .asf ul li , .whyChooseUs ul li, .whyChooseUs ol li{
    margin-bottom: 5px;
  }
  