.terms-container ,.asf, .whyChoose, .dismantling , .overview , .envirement-policy, .security-notice, .paypal {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    margin: 20px;
  }
  
  .terms-container h1, .asf h1, .whyChoose h1, .dismantling h1, .overview h1, .pypal h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .terms-container h2 , .asf h2 , .whyChoose h2 ,.envirement-policy h2 ,.security-notice h2 , .paypal h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .security-notice h2 {
    color: red;
  }
  
  .terms-container p, .asf p , .whyChoose p ,.dismantling p , .overview p , .envirement-policy p , .security-notice p, .paypal p  {
    margin-bottom: 10px;
  }
  
  .terms-container ul, .asf ul, .whyChoose ul , .security-notice ul , .paypal ul{
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .terms-container ul li, .asf ul li , .whyChoose ul li, .whyChoose ol li, .security-notice ol li , .security-notice ul li, .paypal ul li , .paypal ol li{
    margin-bottom: 5px;
  }
  