/* Force desktop styles for smaller screens */
@media (max-width: 900px) {
  body {
    transform: scale(0.75); /* Adjust scale as needed */
    transform-origin: 0 0;
    width: 135%;
    height: auto;
    overflow-x: hidden;
  }

  #root {
    min-width: fit-content;
  }

}

body {
  overflow-x: hidden;
}

#root {
  min-width: 1200px;
}

    
@media screen and (max-width: 9999px) {
  .layout , .usedTiresForm-container, .car-details {
      margin: 0 auto;
      width: 1590px;
  }
  .header-bottom   {
      margin-left: auto;
      margin-right: auto;
      width: 1560px;
  }

  .header-top
  {
      margin: 0 auto;
      width: 1560px;
      
  }
  .local-services-banner {
    width: 1590px;
  }
  
  }

  



@media screen and (max-width: 1760px) {
  .layout , .usedTiresForm-container, .car-details {
      margin: 0 auto;
      width: 1438px;
      max-width: 100%;
      
  }
  .header-top {
      width: 1430px;
  }
  .header-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 1460px;
  }

  .local-services-banner {
    width: 1440px;
  }

  .help {
  right: 10px !important;
}
  }

      
@media screen and (max-width: 1530px) {
.layout,.header-top , .local-services-banner, .usedTiresForm-container, .car-details{
      margin: 0 auto;
      width: 1330px;
      max-width: 100%;
  }

  .header-bottom  {
      margin-left: auto;
      margin-right: auto;
      width: 1330px;
      max-width: 100%;
  }
}




