/* Force desktop styles for smaller screens */
/* Force desktop styles for smaller screens */
@media (max-width: 900px) {
body {
  overflow-x: hidden;
}
}

.header-container, .used-tires-page{
  min-width: 1250px;
  max-width: 100%;
}

.help-page {
  min-width: 1200px;
}
  
.footer {
  min-width: 1210px;
  max-width: 100%;
}


.container  {
  min-width: 1250px; /* Fixed width */
  position: relative;
 
}

    
@media screen and (max-width: 9999px) {
  .layout , .usedTiresForm-container, .car-details, .help-page {
      margin: 0 auto;
      width: 1590px;
  }
  .header-bottom   {
      margin-left: auto;
      margin-right: auto;
      width: 1560px;
  }

  .header-top
  {
      margin: 0 auto;
      width: 1560px;
      
  }
  .local-services-banner {
    width: 1590px;
  }
  
  }

  



@media screen and (max-width: 1760px) {
  .layout , .usedTiresForm-container, .car-details, .help-page {
      margin: 0 auto;
      width: 1438px;
      max-width: 100%;
      
  }
  .header-top {
      width: 1430px;
  }
  .header-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 1460px;
  }

  .local-services-banner {
    width: 1440px;
  }

  .help {
  right: 10px !important;
}
  }

      
@media screen and (max-width: 1530px) {
.layout,.header-top , .local-services-banner, .usedTiresForm-container, .car-details , .help-page{
      margin: 0 auto;
      width: 1330px;
      max-width: 100%;
  }

  .header-bottom  {
      margin-left: auto;
      margin-right: auto;
      width: 1330px;
      max-width: 100%;
  }
}

@media screen and (max-width: 1366px) {
  .help-page {
    width: 1250px;
  }
  
}


