
/* Adjust min-width and width for full responsiveness */
.header-container {
  min-width: 1250px;
  width: 100%;
}
  
.footer {
  min-width: 1200px;
  width: 100%;
}


.container , .layout {
  min-width: 1250px; /* Fixed width */
 
}
@media screen and (max-width:500px) {
  body {
    zoom: .3;
  }
  
}
    
@media screen and (max-width: 9999px) {
  .layout  {
      margin: 0 auto;
      width: 1590px;
  }
  .header-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 1600px;
  }

  .header-top , .used-tires-page  {
      margin: 0 auto;
      width: 1560px;
  }

  
  }

  



@media screen and (max-width: 1760px) {
  .layout , .used-tires-page {
      margin: 0 auto;
      width: 1438px;
      max-width: 100%;
  }
  .header-top {
      width: 1430px;
  }
  .header-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 1460px;
  }

  .help {
  right: 10px !important;
}
  }

      
@media screen and (max-width: 1530px) {
.layout,.header-top, .used-tires-page {
      margin: 0 auto;
      width: 1330px;
      max-width: 100%;
  }

  .header-bottom {
      margin-left: auto;
      margin-right: auto;
      width: 1330px;
      max-width: 100%;
  }
}

  @media screen and (max-width: 1400px) {
  .layout, .header-top, .header-bottom ,  .used-tires-page {
      width: 1200px;
      max-width: 100%;
  }

 
}